<h3>Danh sách sản phẩm</h3>
    <section class="text-center mb-4">
      <!--Grid row-->
      <div class="row wow fadeIn">
        <% @products.each do |product| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay">
              <a href="/products/<%= product.id %>">
              <img
                src="images/<%=product.image_product%>"
                class="card-img-top"
                alt="product"
              />
              </a>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">
                <h5><%= product.name %></h5>
              </a>
              <!-- <h5>
                <strong>
                  <a href="" class="dark-grey-text">Black jacket</a>
                </strong>
              </h5> -->

              <h4 class="font-weight-bold blue-text">
                <strong><%=number_to_currency(product.price, :unit => "",precision: 0)%> VND</strong>
              </h4>
            </div>
            <!--Card content-->
          </div>
          <!--Card-->
        </div>

        <% end %>

        <!--Fourth column-->
      </div>
      <!--Grid row-->
    </section>
  