<h3>Danh sách sản phẩm</h3>
    <section class="text-center mb-4">
      <!--Grid row-->
      <div class="row wow fadeIn">
        <% @products.each do |product| %>
         <% if product.active? && product.category.active? && product.category_id? %>
        <div class="col-lg-3 col-md-6 mb-4">
          <!--Card-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay">
              <%=link_to product_path(product), method: :get do %>
                  <%= image_tag(product.image) %>
              <% end %>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Card image-->

            <!--Card content-->
            <div class="card-body text-center">
              <!--Category & Title-->
              <a href="" class="grey-text">
                <h5><%= product.name %></h5>
              </a>
              <h4 class="font-weight-bold blue-text">
                <strong><%=number_to_currency(product.price, :unit => "",precision: 0)%> VND</strong>
              </h4>
            </div>
            <!--Card content-->
          </div>
          <!--Card-->
        </div>
        <% end %>
        <% end %>
        <!--Fourth column-->
      </div>
      <!--Grid row-->
    </section>
  