<% @categories.each do |category| %>
<tr>
    <td><%= category.name %></td>
    <td>
       <%if category.active? %> 
            <span class="badge badge-success">Active</span>
       <% else %>
             <span class="badge badge-danger">Deactive</span>
       <% end %>
    </td>
    <td>
        <div class="btn-group">
            <a href="/admin/category/<%=category.id %>">
                <button type="submit" class="btn btn-warning" data-toggle="tooltip"
                    data-placement="top" title="Chỉnh sửa">
                    <i class="fas fa-edit"></i>
                </button>
            </a>
            <%=link_to "/admin/category/#{category.id}", method: :delete do  %>
                <button type="button" class="btn btn-danger" 
                title="Xóa">
                <i class="far fa-trash-alt"></i>
            </button>
            <% end %>
        </div>
    </td>
</tr>
<% end %>