- @products.each do |product|
    tr
      td
        = product.name
      td 
        = number_to_currency(product.price, :unit => "",precision: 0)
        |  VNĐ
      td
        = image_tag(product.image, size: "70x70")
      td  
        = product.category.name
      td 
        - if product.active?
          span.badge.badge-success Active 
        - else
          span.badge.badge-danger Deactive
      td 
        .btn-group
          = link_to admin_product_path(product) do 
            button.btn.btn-warning[data-toggle="tooltip" data-placement="top" title="Chỉnh sửa"]
              i.fas.fa-edit
          = link_to "/admin/products/#{product.id}", method: :delete do
            button.btn.btn-danger[title="xóa"]
              i.far.fa-trash-alt