<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light d-flex header">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo-nbstore.png",alt:"Logo"%>
    </a>
    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2 _input_search"
        type="search"
        placeholder="Bạn cần tìm gì?"
        aria-label="Search"
      />
      <button type="button" class="btn btn-primary _btn_search">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <div class="pdl0 fl1">
      <div class="onlineshop-right-top-block">
        <a class="onlineshop-right-item" href="/">
          <img
            src="//theme.hstatic.net/1000026716/1000440777/14/ak1.png?v=21636"
            alt="register"
          />
          <div class="header-right-description">
            <span class="onlineshop-text">Đăng ký</span>
          </div>
        </a>
        <a class="onlineshop-right-item" href="/">
          <img
            src="//theme.hstatic.net/1000026716/1000440777/14/ak1.png?v=21636"
            alt="register"
          />
          <div class="header-right-description">
            <span class="onlineshop-text">Đăng nhập</span>
          </div>
        </a>
        <a class="onlineshop-right-item" href="/">
          <img
            src="https://theme.hstatic.net/1000026716/1000440777/14/ak4.png?v=21637"
            alt="register"
          />
          <div class="header-right-description">
            <span class="onlineshop-text">Khuyến mại</span>
          </div>
        </a>
        <a class="onlineshop-right-item cart" href="/">
          <div class="online-shop-number">0</div>
          <img
            src="https://theme.hstatic.net/1000026716/1000440777/14/ak5.png?v=21636"
            alt="register"
          />
          <div class="header-right-description">
            <span class="onlineshop-text">giỏ hàng</span>
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>
<%= render "header/banner" %>
<%= render "header/nav" %>
