// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
    min-height: 64px;
    background: #f1f0f1 !important;
}
.header  img{
    height: 64px;
}
._input_search{
    position: relative;
    width: 500px !important;
}
._btn_search {
    margin-left: -8px;
    // border-radius: 0px 3px!important;
}
.fl1 {
    flex: 1;
}
.pdl0 {
    padding-left: 0;
}
.onlineshop-right-top-block{
    display: flex;
    align-items: center;
}
.onlineshop-right-top-block .onlineshop-right-item{
    display: inline-flex;
    margin-left:30px;
}
.onlineshop-right-item >img{
    max-width: 24px;
    margin-right: 8px;
    max-height: 25px;
}
.onlineshop-right-top-block .onlineshop-right-item .header-right-description .onlineshop-text{
    color: #010101;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
}
.onlineshop-right-top-block >a:hover {
    text-decoration: none;
}
.online-shop-number
{
    position: absolute;
    top: -4px;
    left: -5px;
    z-index: 20;
    background: #ea1c00;
    color: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 9px;
    line-height: 18px;
}
.onlineshop-right-item.cart{
    position: relative;
}
.banner {
   width: 100%;
   height:100%
}
.card{
    box-shadow: 5px 10px 18px #888888;
    border:0;
    cursor: pointer;
}
.danger-color{
    background-color:#ff3547!important;
}
.badge {
    color: #fff;
}
.w-100{
    height:500px;
}
.product_detail_image{
    border: 1px solid;
}
.lead{
    font-weight: 700 !important;
}

