// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.heading {
  font-size: 19px;
  font-weight: 300;
  margin: 20px 0px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.split {
  margin: 0 5px;
}

.status{
  font-weight: bolder;
}
.created-date {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#user_information label {
  font-weight: bolder;
}
.list_item {
  margin-top: 30px
}